/* /web-app/src/styles/AdminDashboard.css */

.admin {
    display: flex;
    height: 100vh;
  }
  
  .d-flex {
    display: flex;
    flex: 1;
  }
  
  .content {
    margin-left: 250px; /* Align content next to the sidebar */
    padding: 20px;
    flex-grow: 1;
  }
  
  @media (max-width: 768px) {
    .content {
      margin-left: 0;
    }
  }
  